# macOS
.DS_Store


# IDE
.vscode/
__pycache__/


# environment
.python-version
venv/


# tailwind
node_modules/
package-lock.json
package.json
postcss.config.js
tailwind.config.js
src/styles.css


# django
db.sqlite3
django_chirper/django_chirper/settings.py


# django collectstatic
staticfiles/