{% extends 'layout_password.html' %}

{% block form %}
<div class="flex flex-col">
    <h1 class="font-bold text-3xl">Reset your password</h1>
    <div class="flex flex-row space-x-3 pt-10">
        <!-- user icon -->
        <div class="w-12 h-12">
            <div class="w-12 h-12 rounded-full overflow-hidden">
                <img src="{{ account.profile.profile_image.url }}" alt="profile pic" class="w-full h-full object-cover">
            </div>
        </div>
        <!-- username, handle, timestamp -->

        <!-- link to user page -->
        <div class="flex flex-col justify-center -space-y-1">
            <div class="text-tiny font-bold">{{ account.username }}</div>
            <div class="text-gray-600 text-s">@{{ account.profile.handle }}</div>
        </div>
    </div>

    <form method="POST" action="" class="flex flex-col text-tiny font-light space-y-2">
        {% csrf_token %}
        <span>Strong passwords include numbers, letters, and punctuation marks.
            <a href="#" class="text-blue-400 hover:underline">Learn more</a></span>

        <div class="flex flex-col space-y-2 pt-1">
            <div class="flex flex-col">
                <div class="font-bold text-sm">Enter your new password</div>
                {{ form.new_password1 }}
            </div>

            <div class="flex flex-col">
                <div class="font-bold text-sm">Enter your password one more time</div>
                <span>
                    {{ form.new_password2 }}
                    <div class="text-s text-red-600 mt-2">{{ form.new_password2.errors }}</div>
                </span>
            </div>
            <span class="flex items-center pt-4">
                {{ form.remember }}
                <div class="ml-2 text-sm">{{ form.remember.label }}</div>
            </span>
            <div class="text-sm mt-3 pb-3">Resetting your password will log you out of all your active Chirper sessions.
            </div>
            <button class="rounded-full bg-blue-500 text-tiny text-white font-bold w-36 h-10
            focus:outline-none hover:bg-blue-600 focus:bg-blue-700 cursor-pointer">Reset password</button>
        </div>

    </form>
</div>

{% endblock form%}