{% extends 'layout_password.html' %}

{% block form %}
<div class="flex flex-col space-y-3">
    <h1 class="font-bold text-3xl">Check your email</h1>
    <div class="flex flex-col space-y-5">
        <form method="POST" action="" class="flex flex-col space-y-5">
            <div class="text-tiny font-light pt-8">
                You'll receive an email with a link to the password reset page.
                Please reset your password through the link.
            </div>
        </form>
    </div>
    <div class="text-xs font-light max-w-xl">If you don't see the email, check other places it might be, like your
        junk, spam, social or other folders.</div>
    <!-- <a href="#" class="text-s text-blue-400 hover:underline -mt-2">Didn't receive your code?</a> -->
</div>

{% endblock form %}