{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title%} / Chirper</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">

    <!-- dropdown menu component script-->
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
</head>

<body class="flex place-content-center bg-gray-900 text-white relative">
    <div class="justify-self-end flex flex-col items-center p-2 h-screen">
        <!-- nav bar @xs bp -->
        {% include 'layout_navbar_xs.html' %}
        <!-- nav bar @lg bp -->
        {% include 'layout_navbar_lg.html' %}
        <!-- nav bar @xl bp -->
        {% include 'layout_navbar_xl.html' %}
    </div>


    <!-- settings nav bar -->
    <div class="xs:hidden sm:hidden lg:flex lg:flex-col w-96 h-screen border-l border-gray-700">
        {% include 'layout_settings_navbar.html' %}
    </div>

    <!-- settings nav bar content -->
    <main class="w-148 h-full border-l border-r border-gray-700 divide-y divide-gray-700 box-content">
        <table>
            <div class="fixed w-148 bg-gray-900 border-b border-gray-700">
                <div class="flex justify-between items-center py-2 pl-4 pr-1 cursor-pointer">
                    <div class="flex flex-row items-center">
                        {% block presvg %}{% endblock presvg %}
                        <h1 class="text-xl font-bold">
                            {% block header %}{% endblock header %}
                        </h1>
                    </div>
                </div>
            </div>

            <tbody>
                <div class="mt-10 overflow-y-scroll h-screen">{% block content %}{% endblock content %}</div>
            </tbody>

        </table>

         <!-- banner -->
         {% if not user.is_authenticated %}
         {% include 'layout_banner.html' %}
         {% endif %}
    </main>



    <!-- message tab -->
    {% if user.is_authenticated %}
    {% if 'messages' not in request.path %}
    {% include 'layout_messageTab.html' %}
    {% endif %}
    {% endif %}
    <!-- message tab ends here -->
</body>

</html>