{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title%} / Chirper</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">

    <!-- dropdown menu component script-->
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
</head>

<body class="flex place-content-center bg-gray-900 text-white relative overflow-y-hidden">
    <div class="justify-self-end flex flex-col items-center p-2 h-screen">
        <!-- nav bar @xs bp -->
        {% include 'layout_navbar_xs.html' %}
        <!-- nav bar @lg bp -->
        {% include 'layout_navbar_lg.html' %}
        <!-- nav bar @xl bp -->
        {% include 'layout_navbar_xl.html' %}
    </div>

    {% if 'messages' not in request.path %}
    <main class="w-148 h-full border-l border-r border-gray-700 divide-y divide-gray-700 box-content">
        {% else %}
        <main
            class="xs:w-148 sm:w-148 lg:w-116 h-full border-l border-r border-gray-700 divide-y divide-gray-700 box-content">
            {% endif %}

            <table>
                {% if 'messages' not in request.path %}
                <div class="fixed w-148 bg-gray-900 border-b border-gray-700">
                    {% else %}
                    <div class="fixed xs:w-148 sm:w-148 lg:w-116 bg-gray-900 border-b border-gray-700">
                        {% endif %}

                        <div class="flex justify-between items-center py-2 pl-4 pr-1 cursor-pointer">
                            <div class="flex flex-row items-center">
                                {% block presvg %}{% endblock presvg %}
                                <h1 class="text-xl font-bold">
                                    {% block header %}{% endblock header %}
                                    {% block small %}{% endblock small%}
                                </h1>
                            </div>
                            {% block svg %}{% endblock svg %}
                        </div>

                        <div>
                            {% block tab %}{% endblock tab %}
                        </div>
                    </div>

                    <tbody>
                        <div class="mt-14 pb-14 overflow-y-scroll h-screen">{% block content %}{% endblock content %}
                        </div>
                    </tbody>
            </table>

            <!-- banner -->
            {% if not user.is_authenticated %}
            {% include 'layout_banner.html' %}
            {% endif %}
        </main>

        {% if 'messages' not in request.path %}
        <aside class="xs:hidden sm:hidden lg:flex lg:flex-col space-y-4 ml-8">
            <!-- show when vp>lg@980px  -->
            <table>
                <!-- search bar -->
                {% include 'layout_sidebar_searchBar.html' %}

                <div class="pt-12 space-y-4 overflow-y-scroll h-screen">
                    <!-- new to chirper -->
                    {% if not user.is_authenticated %}
                    {% include 'layout_sidebar_newToChirper.html' %}
                    {% endif %}

                    <!-- user media -->
                    {% if request.resolver_match.url_name == 'profile' %}
                    {% include 'layout_sidebar_userMedia.html' %}
                    {% endif %}

                    <!-- you might like template -->
                    {% if request.resolver_match.url_name == 'profile' %}
                    {% include 'layout_sidebar_youMightLike.html' %}
                    {% endif %}

                    <!-- trends template -->
                    {% if not user.is_authenticated %}
                    {% if not request.resolver_match.url_name == 'explore' %}
                    {% include 'layout_sidebar_trends.html' %}
                    {% endif %}
                    {% else %}
                    {% if not request.resolver_match.url_name == 'explore' %}
                    {% include 'layout_sidebar_trends.html' %}
                    {% endif %}
                    {% endif %}

                    <!-- who to follow, user recommendation template -->
                    {% if request.resolver_match.url_name != 'profile' %}
                    {% if user.is_authenticated and user_profile.handle != user.profile.handle %}
                    {% include 'layout_sidebar_whoToFollow.html' %}
                    {% endif %}
                    {% endif %}

                    <!-- footer -->
                    {% include 'layout_sidebar_footer.html' %}
                </div>
            </table>
        </aside>
        {% else %}
        <aside class="xs:hidden sm:hidden lg:flex lg:flex-col space-y-4 ml-8 w-144">{% block messages %}{% endblock %}
        </aside>
        {% endif %}


        <!-- message tab -->
        {% if user.is_authenticated %}
        {% if 'messages' not in request.path %}
        {% include 'layout_messageTab.html' %}
        {% endif %}
        {% endif %}
        <!-- message tab ends here -->
</body>
</html>