{% extends 'layout_messages.html' %}

{% block title %}{{ counterpart.user.username }} {% endblock title %}


{% block content %}
{% include 'layout_messages_list.html' %}
{% endblock content %}

{% block messages %}
<div class="border-r border-gray-700 h-full flex flex-col -ml-8">
    <!-- header -->
    <!-- counterpart info -->
    <div
        class="fixed flex flex-row justify-between items-center bg-gray-900 border-b border-r border-gray-700 py-1 pr-3 w-152">
        <div class="flex flex-row items-center">
            <!-- user icon -->
            <a href="{% url 'profile' handle=counterpart.handle %}">
                <div class="w-8 h-8 mx-3 my-2">
                    <div class="w-8 h-8 rounded-full overflow-hidden">
                        <img src="{{ counterpart.profile_image.url }}" alt="profile pic"
                            class="w-full h-full object-cover">
                    </div>
                </div>
            </a>

            <!-- link to user page -->
            <div class="flex flex-col justify-center -space-y-1">
                <div class="text-xl font-bold">{{ counterpart.user.username }}</div>
                <div class="text-gray-600 text-s">@{{ counterpart.handle }}</div>
            </div>
        </div>

        <!-- info svg -->
        <a href="{% url 'messages_counterpart_info' counterpart_id=counterpart.id currentuser_id=user.profile.id %}">
            <div class="svg-bg-div">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    class="w-6 h-6 stroke-current text-blue-500">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
            </div>
        </a>
        <!-- svg end -->
    </div>
    <!-- couterpart info end -->
    <!-- header end -->

    <div class="overflow-y-auto h-192">
        <!-- description -->
        <a href="{% url 'profile' handle=counterpart.handle %}">
            <div class="flex flex-col items-center space-y-1 mt-20 mx-4 p-4 text-gray-600
        text-tiny hover:bg-gray-800 hover:bg-opacity-25 border-b border-gray-700">
                <div class="flex flex-row items-center space-x-1">
                    <div class="text-white text-base font-bold hover:underline">{{ counterpart.user.username }}</div>
                    <div>@{{ counterpart.handle }}</div>
                </div>
                <div class="text-white self-start">{{ counterpart.bio }}</div>
                <div class="flex flex-row space-x-4">
                    <div class="flex flex-row space-x-1">
                        <p class="text-white font-bold">{{ counterpart.is_following.count }}</p>
                        <p>Following</p>
                    </div>
                    <div class="flex flex-row space-x-1">
                        <p class="text-white font-bold">{{ counterpart.followed_by.count }}</p>
                        <p>Followers</p>
                    </div>
                </div>
                <div class="flex flex-row space-x-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        class="stroke-current w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                    </svg>
                    <div>Joined {{ counterpart.user.date_joined|date:"F Y" }}</div>
                </div>
            </div>
        </a>
        <!-- description end -->


        <!-- chat history -->
        <div class="flex flex-col mt-4 mx-4 pb-20">
            {% for message in message_history %}

            <!-- messages from current_user -->
            {% if message.sender == user.profile %}
            <div class="flex flex-col items-end">
                <div class="flex flex-row">
                    <!-- 2 svgs -->
                    {% include 'messages_counterpart_currentComp.html' %}
                    <div class="text-tiny rounded-2xl rounded-br-none bg-blue-500 py-2 px-3 mb-1 w-96 break-words">
                        {{ message.body }}
                    </div>
                </div>

                <!-- timestamp -->
                <div class="text-s text-gray-600 mb-4 flex flex-row items-center space-x-2">
                    {% if message.liker.all %}
                    <div class="flex flex-row items-center space-x-1 border border-gray-700 rounded-2xl pl-1 pr-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="full" viewBox="0 0 24 24"
                            class="stroke-current fill-current w-6 h-6 text-red-600">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                        </svg>
                        <div>{{ message.liker.count }}</div>
                    </div>
                    {% endif %}
                    <div>{{ message.created_at|date:"N j, Y, g:s A" }}</div>
                </div>
                <!-- timestamp end -->
            </div>

            <!-- messages from the counterpart -->
            {% else %}
            <div class="self-start">
                <div class="flex flex-row">
                    <!-- user icon -->
                    <a href="{% url 'profile' handle=counterpart.handle %}" class="self-end">
                        <div class="w-10 h-10 mr-3">
                            <div class="w-10 h-10 rounded-full overflow-hidden">
                                <img src="{{ counterpart.profile_image.url }}" alt="profile pic"
                                    class="w-full h-full object-cover">
                            </div>
                        </div>
                    </a>

                    <div class="flex flex-row">
                        <div class="text-tiny rounded-2xl rounded-bl-none bg-gray-700 py-2 px-3 mb-1 w-96 break-words">
                            {{ message.body }}
                        </div>
                        <!-- 2 svgs -->
                        {% include 'messages_counterpart_counterComp.html' %}
                    </div>
                </div>

                <div class="text-s text-gray-600 mb-4 ml-16 flex flex-row items-center space-x-1">
                    <div>{{ message.created_at|date:"N j, Y, g:s A" }}</div>
                    {% if message.liker.all %}
                    <div class="flex flex-row items-center space-x-1 border border-gray-700 rounded-2xl pl-1 pr-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="full" viewBox="0 0 24 24"
                            class="stroke-current fill-current w-6 h-6 text-red-600">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                        </svg>
                        <div>{{ message.liker.count }}</div>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endif %}
            <!-- messages from the counterpart end -->

            {% endfor %}
        </div>
        <!-- chat history end -->
    </div>

    <!-- message form -->
    {% include 'messages_counterpart_form.html' %}
    
</div>


<!-- delete button scripts -->
<script>
    var openmodalDelete = document.querySelectorAll('.modal-delete-open')
    for (var i = 0; i < openmodalDelete.length; i++) {
        openmodalDelete[i].addEventListener('click', function (event) {
            event.preventDefault()
            toggleModalDelete()
        })
    }


    const overlayDelete = document.querySelector('.modal-delete-overlay')
    overlayDelete.addEventListener('click', toggleModalDelete)


    var closemodalDelete = document.querySelectorAll('.modal-delete-close')
    for (var i = 0; i < closemodalDelete.length; i++) {
        closemodalDelete[i].addEventListener('click', toggleModalDelete)
    }


    document.onkeydown = function (evt) {
        evt = evt || window.event
        var isEscape = false
        if ("key" in evt) {
            isEscape = (evt.key === "Escape" || evt.key === "Esc")
        } else {
            isEscape = (evt.keyCode === 27)
        }
        if (isEscape && document.body.classList.contains('modal-delete-active')) {
            toggleModalDelete()
        }
    };


    function toggleModalDelete() {
        const body = document.querySelector('body')
        const modalDelete = document.querySelector('.modal-delete')
        modalDelete.classList.toggle('opacity-0')
        modalDelete.classList.toggle('pointer-events-none')
        body.classList.toggle('modal-delete-active')
    }
</script>
<!-- scripts end -->
{% endblock messages %}