{% extends 'layout_messages.html' %}
{% load static %}


{% block messages %}
<div class="border-r border-gray-700 h-full overflow-y-auto flex flex-col items-center justify-center space-y-2 -mt-8">
    <h1 class="font-bold text-xl">You don't have a message selected</h1>
    <p class="text-gray-600 text-tiny pb-3">Choose one from your existing messagesm or start a new one.</p>
    <a href="{% url 'messages_compose' %}">
        <div class="font-bold bg-blue-500 rounded-full px-4 py-2">New message</div>
    </a>
</div>
{% endblock messages %}