{% extends 'layout_messages.html' %}

{% block title %}Conversation info{% endblock title %}

{% block content %}
{% include 'layout_messages_list.html' %}
{% endblock content %}

{% block messages %}
<div class="border-r border-gray-700 h-full flex flex-col -ml-8">

    <!-- header -->
    <div class="fixed flex flex-row items-center bg-gray-900 border-b border-r border-gray-700 py-2 pr-3 w-152">
        <!-- back svg -->
        <div>
            <div onclick="history.go(-1)">
                <!-- svg redirects to whatever last page user was on -->
                <div class="svg-bg-div ml-4 mr-6 cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        class="w-6 h-6 stroke-current text-blue-500">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M10 19l-7-7m0 0l7-7m-7 7h18" />
                    </svg>
                </div>
            </div>
        </div>

        <div class="font-bold text-xl">Conversation info</div>
    </div>
    <!-- header ends -->


    <!-- counterpart info -->
    <div class="flex flex-col mt-12 space-y-4 text-tiny">
        <!-- user icon -->
        <a href="{% url 'profile' handle=counterpart.handle %}">
            <div class="flex flex-row w-full items-center space-x-2 mt-3 pt-2 pb-3 px-3
            hover:bg-gray-800 hover:bg-opacity-25">
                <!-- counterpart icon -->
                <div class="w-12 h-12 ">
                    <div class="w-12 h-12 rounded-full overflow-hidden">
                        <img src="{{ counterpart.profile_image.url }}"
                            alt="profile pic" class="w-full h-full object-cover">
                    </div>
                </div>
                <!-- icon end -->

                <!-- counterpart name, handle -->
                <div class="flex flex-col justify-start">
                    <div class="text-white text-lg font-bold">{{ counterpart.user.username }}</div>
                    <div class="flex flex-row space-x-1 items-center">
                        <div class="text-gray-600">@{{ counterpart.handle }}</div>
                        {% if user.profile in counterpart.following.all %}
                        <div class="text-gray-600 bg-gray-800 text-s rounded-md px-1">Follows you</div>
                        {% endif %}
                    </div>
                </div>
                <!-- counterpart name, handle end -->
            </div>
        </a>


    </div>
    <!-- counterpartinfo ends -->

    <div class="h-3 bg-gray-800 bg-opacity-50 border-t border-b border-gray-700"></div>

    <div class="divide-y divide-gray-700">
        <div class="font-bold text-xl h-12 flex items-center p-4">Notifications</div>
        <!-- snooze user -->
        <div class="flex flex-row justify-between">
            <div class="h-12 flex items-center p-4">Snooze notifications from {{ counterpart.user.username }}</div>

            <!-- toggle component by github @r-freeman -->
            <div class="flex justify-center items-center pr-3 mt-1" x-data="{toggle: '0'}">
                <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>

                <div class="relative rounded-full w-10 h-5 transition duration-200 ease-linear mb-1"
                    :class="[toggle === '1' ? 'bg-blue-500' : 'bg-gray-600']">
                    <label for="toggle"
                        class="absolute left-0 bg-white border-2 w-5 h-5 rounded-full transition transform duration-100 ease-linear cursor-pointer"
                        :class="[toggle === '1' ? 'translate-x-full' : 'translate-x-0']"></label>
                    <input type="checkbox" id="toggle" name="toggle"
                        class="appearance-none w-full h-full active:outline-none focus:outline-none"
                        @click="toggle === '0' ? toggle = '1' : toggle = '0'" />
                </div>
            </div>
            <!-- toggle comp ends -->
        </div>
        <!-- snooze ends -->
    </div>

    <div class="h-3 bg-gray-800 bg-opacity-50 border-t border-b border-gray-700"></div>

    <!-- action buttons -->
    <div class="text-tiny">
        <a href="#">
            <div class="text-center text-blue-500 py-4 border-b border-gray-700 
                hover:bg-opacity-25 hover:bg-blue-800 active:bg-blue-700">
                Block @{{ counterpart.handle }}
            </div>
        </a>
        <a href="#">
            <div class="text-center text-blue-500 py-4 border-b border-gray-700 
                hover:bg-opacity-25 hover:bg-blue-800  active:bg-blue-700">
                Report @{{ counterpart.handle }}
            </div>
        </a>
        <a href="#">
            <div class="text-center text-red-600 py-4 border-b border-gray-700 
                hover:bg-opacity-25 hover:bg-red-800  active:bg-red-700">
                Leave conversation
            </div>
        </a>
    </div>
    <!-- action buttons end -->
</div>
{% endblock messages %}