{% extends 'layout_profile.html' %}

<!-- overwrite the ones in layout_profile.html -->
{% block title %}Chirps liked by {{ user_profile.user.username }} (@{{ user_profile.handle }}){% endblock title %}
{% block small %}
<div class="text-gray-600 text-s font-normal">{{ posts_count }} Likes</div>
{% endblock small %}

<!-- 4 tabs -->
{% block tabs %}
<div class="flex flex-row justify-center h-12 text-gray-600 font-bold border-b border-gray-700 mt-4">
    <a href="{% url 'profile' handle=user_profile.handle %}" class="w-40 flex flex-row justify-center items-center 
        hover:bg-blue-800 hover:bg-opacity-25 hover:text-blue-500 pb-3 pt-2">
        <div>Chirps</div>
    </a>
    <a href="{% url 'profile_withReplies' handle=user_profile.handle %}" class="w-56 flex flex-row justify-center items-center 
        hover:bg-blue-800 hover:bg-opacity-25 hover:text-blue-500 pb-3 pt-2">
        <div>Chirps & replies</div>
    </a>
    <a href="{% url 'profile_media' handle=user_profile.handle %}" class="w-40 flex flex-row justify-center items-center 
        hover:bg-blue-800 hover:bg-opacity-25 hover:text-blue-500 pb-3 pt-2">
        <div>Media</div>
    </a>
    <a href="{% url 'profile_likes' handle=user_profile.handle %}" class="w-40 flex flex-row justify-center items-center 
        hover:bg-blue-800 hover:bg-opacity-25 hover:text-blue-500 pb-3 pt-2 text-blue-500 border-b-2 border-blue-500">
        <div>Likes</div>
    </a>
</div>
{% endblock tabs %}


{% block tabcontent %}
{% if user_profile.liked_posts.all %}

{% for post in user_profile.liked_posts.all %}
<div class="block border-b border-gray-700 hover:bg-gray-800 hover:bg-opacity-25">
    <div class="p-3 text-sm flex flex-row space-x-2">
        <!-- user icon -->
        <div class="w-12 h-12">
            <div class="w-12 h-12 rounded-full overflow-hidden">
                <a href="{% url 'profile' handle=post.author.handle %}">
                    <img src="{{ post.author.profile_image.url }}" alt="profile pic" class="w-full h-full object-cover">
                </a>
            </div>
        </div>


        <div class="flex flex-col w-full space-y-2 -m-1">
            <!-- small header -->
            <div class="flex flex-row justify-between items-center">
                <!-- author, handle, timestamp -->
                <div class="flex flex-row space-x-2">
                    <!-- link to user page -->
                    <a href="{% url 'profile' handle=post.author.handle %}">
                        <div class="flex flex-row space-x-1">
                            <div class="text-base font-bold hover:underline">{{ post.author.user.username }}</div>
                            <div class="text-gray-600">@{{ post.author.handle }}</div>
                        </div>
                    </a>
                    <div class="text-gray-600 font-bold">·</div>
                    <!-- link to that specific chirp -->
                    <a href="{% url 'status' handle=post.author.handle pk=post.id %}"
                        class="text-gray-600 hover:underline">
                        <time class="">{{ post.show_time }}</time>
                        <!-- if less than a hour: do it backwards: e.g. 30min -->
                        <!-- if not the same year:  %d %b %Y-->
                    </a>
                </div>


                <!-- setting button dropdown menu -->
                {% include 'component_postDropDown.html' %}
                <!--  dropdown menu ends here -->
            </div>


            <!-- chirp content section -->
            <div>
                <p class="text-base">
                    <a href="{% url 'status' handle=post.author.handle pk=post.id %}">{{ post.content }}</a>
                </p>
            </div>

            <!-- svg group -->
            {% include 'component_postSvgGroup.html' %}

            <!-- link to thread -->
            <!-- <div>
                        <a href="#">Show this thread</a>
                    </div> -->
        </div>
    </div>
</div>
{% endfor %}

{% else %}

{% if user.profile == user_profile %}
<div class="pt-10 flex flex-col items-center space-y-2">
    <h1 class="text-white text-xl font-bold">You don’t have any likes yet</h1>
    <p class="text-sm font-medium text-gray-600">Tap the heart on any Chirp to show it some love. When you do, it’ll
        show up here.</p>
</div>
{% else %}
<div class="pt-10 flex flex-col items-center space-y-2">
    <h1 class="text-white text-xl font-bold">@{{ user_profile.handle }} hasn’t liked any Chirps</h1>
    <p class="text-sm font-medium text-gray-600">When they do, those Chirps will show up here.</p>
</div>
{% endif %}

{% endif %}


<!-- delete button scripts -->
<script>
    var openmodalDelete = document.querySelectorAll('.modal-delete-open')
    for (var i = 0; i < openmodalDelete.length; i++) {
        openmodalDelete[i].addEventListener('click', function (event) {
            event.preventDefault()
            toggleModalDelete()
        })
    }


    const overlayDelete = document.querySelector('.modal-delete-overlay')
    overlayDelete.addEventListener('click', toggleModalDelete)


    var closemodalDelete = document.querySelectorAll('.modal-delete-close')
    for (var i = 0; i < closemodalDelete.length; i++) {
        closemodalDelete[i].addEventListener('click', toggleModalDelete)
    }


    document.onkeydown = function (evt) {
        evt = evt || window.event
        var isEscape = false
        if ("key" in evt) {
            isEscape = (evt.key === "Escape" || evt.key === "Esc")
        } else {
            isEscape = (evt.keyCode === 27)
        }
        if (isEscape && document.body.classList.contains('modal-delete-active')) {
            toggleModalDelete()
        }
    };


    function toggleModalDelete() {
        const body = document.querySelector('body')
        const modalDelete = document.querySelector('.modal-delete')
        modalDelete.classList.toggle('opacity-0')
        modalDelete.classList.toggle('pointer-events-none')
        body.classList.toggle('modal-delete-active')
    }
</script>
<!-- scripts end -->

{% endblock tabcontent %}